@()


@main("Tax calculator") {
@defining(play.core.PlayVersion.current) { version =>
<body>
<section id="content">
  <form action="/calculator" method="GET">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Income tax calculator

        </h1>
      </legend>
// Tax year radio
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which tax year are you checking?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="taxyear0" name="taxyear" type="radio" value="2015/2016">
              <label class="govuk-label govuk-radios__label" for="taxyear0">
                2015/2016
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="taxyear1" name="taxyear" type="radio" value="2016/2017">
              <label class="govuk-label govuk-radios__label" for="taxyear1">
                2016/2017
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="taxyear2" name="taxyear" type="radio" value="2017/2018">
              <label class="govuk-label govuk-radios__label" for="taxyear2">
                2017/2018
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="taxyear3" name="taxyear" type="radio" value="2018/2019">
              <label class="govuk-label govuk-radios__label" for="taxyear3">
                2018/2019
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="taxyear4" name="taxyear" type="radio" value="2019/2020">
              <label class="govuk-label govuk-radios__label" for="taxyear4">
                2019/2020
              </label>
            </div>
          </div>
        </fieldset>
      </div>
//country radio
      <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  In which country do you pay your tax?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="wheredoyoulive" name="wheredoyoulive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="wheredoyoulive">
                    England
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="wheredoyoulive2" name="wheredoyoulive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="wheredoyoulive2">
                    Scotland
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="wheredoyoulive3" name="wheredoyoulive" type="radio" value="wales">
                  <label class="govuk-label govuk-radios__label" for="wheredoyoulive3">
                    Wales
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
// total earnings input
      <div class="govuk-form-group">
        <label class="govuk-label" for="pretaxincome">
          Total earnings before tax taken off <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="pretaxincome" name="pretaxincome" type="number" value="80000">
      </div>
// tax paid on earnings input
      <div class="govuk-form-group">
        <label class="govuk-label" for="taxpaidonearnings">
          Total tax paid on earnings <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="taxpaidonearnings" name="taxpaidonearnings" type="number">
      </div>
// interest paid on savings input
      <div class="govuk-form-group">
        <label class="govuk-label" for="interestonbank">
          Total interest paid on savings by UK bank or building society, after tax <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="interestonbank" name="interestonbank" type="number">
      </div>
// tax paid on bank input
      <div class="govuk-form-group">
        <label class="govuk-label" for="taxonbank">
          Total tax paid on UK bank or building society interest <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="taxonbank" name="taxonbank" type="number">
      </div>
// interest not taxed input
      <div class="govuk-form-group">
        <label class="govuk-label" for="untaxedinterest">
          UK interest that has not been taxed <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="untaxedinterest" name="untaxedinterest" type="number">
      </div>
// gift aid donations input
      <div class="govuk-form-group">
        <label class="govuk-label" for="giftaid">
          Gift Aid donations during year <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="giftaid" name="giftaid" type="number">
      </div>
// blind person radio
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="bpa">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you eligible for Blind Persons Allowance?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="blind-yes" name="blindperson" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="blind-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="blind-no" name="blindperson" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="blind-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
// submit and reset buttons
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Submit
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Reset
      </button>


    </fieldset>
  </form>
</section>
}
}
</body>